div{
    width:100px;
    height:100px;
    background-color:tomato;
    border-radius:5px;
    color:white;
    text-align:center;
    border:2px solid peachpuff;
    display:flex;
    justify-content:center;
    align-items:center;
}
